In [3]:
from imblearn.combine import *
from imblearn.over_sampling import *
from imblearn.under_sampling import *

In [4]:
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import sklearn as sk
import datetime as dt

# import matplotlib as mpl
# mpl.use('Agg')
# import matplotlib.pylab as plt
# from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline
from sklearn.preprocessing import Imputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
import seaborn as sns
sns.set()
sns.set_style("whitegrid")
sns.set_color_codes()
''
import warnings

warnings.filterwarnings('ignore')

In [5]:
# train 
detail_train = pd.read_csv('./coupon_data_project2/coupon_detail_train_translated_en.csv', parse_dates=['I_DATE'])
visit_train = pd.read_csv('./coupon_data_project2/coupon_visit_train.csv', parse_dates=['I_DATE'])

area_train = pd.read_csv('./coupon_data_project2/coupon_area_train_translated_en.csv')
coupon_list_train = pd.read_csv('./coupon_data_project2/coupon_list_train_translated_en.csv', parse_dates=['DISPFROM', 'DISPEND', 'VALIDFROM', 'VALIDEND'])

# base data
location = pd.read_csv('./coupon_data_project2/train_location.csv')
user_list = pd.read_csv('./coupon_data_project2/user_list_translated_en.csv', parse_dates=['WITHDRAW_DATE', 'REG_DATE'])

# test data
area_test = pd.read_csv('./coupon_data_project2/test_location.csv')
coupon_list_test = pd.read_csv('./coupon_data_project2/coupon_list_test_translated_en.csv', parse_dates=['DISPFROM', 'DISPEND', 'VALIDFROM', 'VALIDEND'])

# submisiion
submission = pd.read_csv('./coupon_data_project2/sample_submission.csv')

In [6]:
# 테이블 현황 파악을 위한 함수 
def summary_table(table):
    df = pd.DataFrame()
    for i in table.columns:
        name = i
        dtype = table[i].dtype.name
        null = table[i].isnull().sum()
        act = table.shape[0] - null
        unique = len(table[i].unique())
        data = {'name': name, 'dtype': dtype, 'null': null, 'act': act, 'unique': unique}
        df = df.append(data, ignore_index=True)
    return df

In [31]:
detail_train

                            USER_ID_hash                    COUPON_ID_hash
0       d9dca3cb44bab12ba313eaa681f663eb  34c48f84026e08355dc3bd19b427f09a
1       560574a339f1b25e57b0221e486907ed  767673b7a777854a92b73b0934ddfae7
2       560574a339f1b25e57b0221e486907ed  4f3b5b91d9831192557c056022fdc1f2
3       560574a339f1b25e57b0221e486907ed  4f3b5b91d9831192557c056022fdc1f2
4       560574a339f1b25e57b0221e486907ed  4f3b5b91d9831192557c056022fdc1f2
5       560574a339f1b25e57b0221e486907ed  4f3b5b91d9831192557c056022fdc1f2
6       560574a339f1b25e57b0221e486907ed  4f3b5b91d9831192557c056022fdc1f2
7       560574a339f1b25e57b0221e486907ed  259a22533cab381464c89f616a56d12d
8       560574a339f1b25e57b0221e486907ed  f4a6f861a266799b07cd99c26e80962b
9       560574a339f1b25e57b0221e486907ed  4257a8a169b40bbbcb002ec47ab3de13
10      560574a339f1b25e57b0221e486907ed  3e7d148d632f7ee123504e37d3ee9c66
11      560574a339f1b25e57b0221e486907ed  34ea3cc1cf4ec57f3547c5fcd4de3abe
12      560574a339f1b25e57b0221e486907ed  129a696dac8e7eb0903f02ae217c636e
13      560574a339f1b25e57b0221e486907ed  716abc8dcbfee15cf79e7c25c77a2456
14      560574a339f1b25e57b0221e486907ed  cea20b04d7bb26b521db4f3803737af4
15      560574a339f1b25e57b0221e486907ed  d0590f9b80fd6aa59a31808a41dfd00c
16      560574a339f1b25e57b0221e486907ed  4b4a03629482c17c3b83b46c2704a1d1
17      e66ae91b978b3229f8fd858c80615b73  bf1c42f4f879f879e941246d32a68eff
18      43fc18f32eafb05713ec02935e2c2825  e1d91d56d2a86d4cbe08e155497ad8f6
19      43fc18f32eafb05713ec02935e2c2825  89b72c8e0e8272e05524b11d08c8a6fe
20      43fc18f32eafb05713ec02935e2c2825  bf69bd9e0e26fa1f62243d1fcada38f1
21      43fc18f32eafb05713ec02935e2c2825  09411858ae07c0be91aeeddacf4556b4
22      dc6df8aa860f8db0d710ce9d4839840f  05f44676bd11c9f124c4a777c237d37f
23      dc6df8aa860f8db0d710ce9d4839840f  dba06f247ef3de4110017849d6e6535b
24      dc6df8aa860f8db0d710ce9d4839840f  85b51e105d6faba453d30cd1504e0488
25      dc6df8aa860f8db0d710ce9d4839840f  0bbe8c44a9209af9a3e0d80a31038c84
26      dc6df8aa860f8db0d710ce9d4839840f  07d2e4b28b30fa0273921db95f345b5e
27      dc6df8aa860f8db0d710ce9d4839840f  559f58ac5e68304f6d091021394dcc89
28      dc6df8aa860f8db0d710ce9d4839840f  559f58ac5e68304f6d091021394dcc89
29      dc6df8aa860f8db0d710ce9d4839840f  559f58ac5e68304f6d091021394dcc89
...                                  ...                               ...
168966  280f0cedda5c4b171ee6245889659571  80fd752d93c1a6af504b871d9780f23f
168967  280f0cedda5c4b171ee6245889659571  60f272027db2cfa97d639b653e430d4f
168968  280f0cedda5c4b171ee6245889659571  4ef82e25c2740e4ab55affbe5a003f50
168969  280f0cedda5c4b171ee6245889659571  af89a59a1c3a2cd06fe81827f5452c13
168970  280f0cedda5c4b171ee6245889659571  c22dbbe09dc43050bf973b2207b5ae20
168971  280f0cedda5c4b171ee6245889659571  b033fa81a3bb98386c17392af03f555e
168972  280f0cedda5c4b171ee6245889659571  6e91af430c8d1af75e98ac33b79356f1
168973  280f0cedda5c4b171ee6245889659571  01b263b57d18b2ee12a8b8dc70789cf6
168974  280f0cedda5c4b171ee6245889659571  0182825104fd148b72003e770d8ed3c1
168975  280f0cedda5c4b171ee6245889659571  a9a4262369125e78f6c4186857acfb9d
168976  280f0cedda5c4b171ee6245889659571  3e6d617c55328b761d62510167c43c08
168977  280f0cedda5c4b171ee6245889659571  56f40b085cbba0131923cdc629dc72ef
168978  280f0cedda5c4b171ee6245889659571  e33273921b1488eadb9fc1e9e3f70889
168979  280f0cedda5c4b171ee6245889659571  a262c7ff56a5cd3de3c5c40443f3018c
168980  280f0cedda5c4b171ee6245889659571  d37126a25bf0239bd47482a9856683e4
168981  280f0cedda5c4b171ee6245889659571  04d621b67c7c577876e3e1936427534a
168982  280f0cedda5c4b171ee6245889659571  a0b403d8aded719841b783a21851852d
168983  280f0cedda5c4b171ee6245889659571  83ab8ba39d5e394ac7bc7fc1efa884c5
168984  280f0cedda5c4b171ee6245889659571  a36f8d174c9093ff9d00b908cca30fca
168985  280f0cedda5c4b171ee6245889659571  3b4e17aaddbc73b4cf0d05188c47cf55
168986  280f0cedda5c4b171ee6245889659571  c8554d76982486986ae49ab55b8d7829
168987  280f0cedda5c4b171ee6245889659571  c8554d76982486986ae49ab55b8d7829
168988  280f0cedda5c4b171ee6245889659571  45f6c71af4ca86f0469f830738191d47
168989  280f0cedda5c4b171ee6245889659571  45f6c71af4ca86f0469f830738191d47
168990  280f0cedda5c4b171ee6245889659571  5d82659985bbddffe940bd907a887d1e
168991  280f0cedda5c4b171ee6245889659571  6eac7a7e347c563e5e00086f5eb47903
168992  280f0cedda5c4b171ee6245889659571  a406e389e35e1140e4bc9b472d8258df
168993  280f0cedda5c4b171ee6245889659571  36addcc4b958135895c859d8783e3cd2
168994  280f0cedda5c4b171ee6245889659571  cb0244705306aafccc47bfe62ece39d3
168995  280f0cedda5c4b171ee6245889659571  31a605db6db5ad3fa3b2d4cf69ae3272

[168996 rows x 2 columns]

In [7]:
detail_train.rename(columns = {'I_DATE': 'purchase_date'}, inplace=True)
detail_train.rename(columns = {'SMALL_AREA_NAME': 'resid_small'}, inplace=True)

In [8]:
detail_train.drop(labels = ['ITEM_COUNT'], axis=1, inplace=True)
detail_train.drop(labels = ['PURCHASEID_hash'], axis=1, inplace=True)
detail_train.drop(labels = ['resid_small'], axis=1, inplace=True)
detail_train.drop(labels = ['purchase_date'], axis=1, inplace=True)

In [9]:
coupon_list = pd.merge(coupon_list_test, coupon_list_train, how='outer')

In [10]:
coupon_list_test.shape, coupon_list_train.shape, coupon_list.shape

((310, 24), (19413, 24), (19723, 24))

In [11]:
# 캡슐과 장르 통합 및 명칭 변경
coupon_list['Case'] = coupon_list['CAPSULE_TEXT'] + coupon_list['GENRE_NAME']
coupon_list['Case'] = coupon_list['Case'].apply(lambda x: "HOTEL" if x == 'Guest houseHotel and Japanese hotel' 
                          or x == 'HotelHotel and Japanese hotel'
                          or x == 'Japanese hotelHotel and Japanese hotel'
                          or x == 'Japanse guest houseHotel and Japanese hotel'
                          or x == 'LodgeHotel and Japanese hotel'
                          or x == 'Public hotelHotel and Japanese hotel'
                          or x == 'Resort innHotel and Japanese hotel'
                          or x == 'Vacation rentalHotel and Japanese hotel'
                          else "NAIL" if x == 'Nail and eye salonNail and eye salon'
                          else "HAIR" if x == 'Hair salonHair salon'
                          else "FOOD" if x == 'FoodFood'
                          else "SPA" if x == 'SpaSpa'
                          else "BEAUTY" if x == 'BeautyBeauty'
                          else "CLASS" if x == 'ClassLesson'
                          else "CORRESPONDENCE" if x == 'Correspondence courseLessonClassLesson'
                          else "DELIVERY" if x == 'Delivery serviceDelivery service'
                          else "EVENT" if x == 'EventOther coupon'
                          else "GIFT" if x == 'Gift cardGift card'
                          else "HEALTH" if x == 'Health and medicalHealth and medical'
                          else "LEISURE" if x == 'LeisureLeisure'
                          else "LESSON" if x == 'LessonLesson'
                          else "OTHER" if x == 'OtherOther coupon'
                          else "RELAXATION" if x == 'RelaxationRelaxation'
                          else "WEB" if x == 'Web serviceOther coupon'
                          else 'OTHER'
                          )

In [12]:
# 실판매가 게산
coupon_list['Price'] = coupon_list['CATALOG_PRICE'] - coupon_list['DISCOUNT_PRICE']

In [13]:
# 실판매가 정규화
coupon_list["lnDPRICE"] = np.log1p(coupon_list["Price"])
coupon_list["mDPRICE"] = coupon_list.groupby("Case")["lnDPRICE"].transform(np.mean)
coupon_list["sDPRICE"] = coupon_list.groupby("Case")["lnDPRICE"].transform(np.std)
coupon_list["zprice"] = (coupon_list["lnDPRICE"] - coupon_list["mDPRICE"]) / coupon_list["sDPRICE"]

In [14]:
# 지역명 변경
coupon_list.rename(columns = {"LARGE_AREA_NAME": "spot_large", 
                              "ken_name": "spot_pref", 
                              "SMALL_AREA_NAME": "spot_small"}, inplace=True)

In [17]:
coupon_list.drop(del_ls,1, inplace=True)

In [ ]:
# usable: nan -> 1, 2 -> 0
coupon_list['USABLE_DATE_MON'].replace([0,2,1,np.nan],[0,0,1,1], inplace=True)
coupon_list['USABLE_DATE_TUE'].replace([0,2,1,np.nan],[0,0,1,1], inplace=True)
coupon_list['USABLE_DATE_WED'].replace([0,2,1,np.nan],[0,0,1,1], inplace=True)
coupon_list['USABLE_DATE_THU'].replace([0,2,1,np.nan],[0,0,1,1], inplace=True)
coupon_list['USABLE_DATE_FRI'].replace([0,2,1,np.nan],[0,0,1,1], inplace=True)
coupon_list['USABLE_DATE_SAT'].replace([0,2,1,np.nan],[0,0,1,1], inplace=True)
coupon_list['USABLE_DATE_SUN'].replace([0,2,1,np.nan],[0,0,1,1], inplace=True)
coupon_list['USABLE_DATE_HOLIDAY'].replace([0,2,1,np.nan],[0,0,1,1], inplace=True)
coupon_list['USABLE_DATE_BEFORE_HOLIDAY'].replace([0,2,1,np.nan],[0,0,1,1], inplace=True)

In [23]:
coupon_list.columns

Index(['PRICE_RATE', 'DISPPERIOD', 'VALIDPERIOD', 'COUPON_ID_hash', 'Case',
       'zprice'],
      dtype='object')

In [88]:
coupon_list.isnull().sum()

PRICE_RATE           0
DISPPERIOD           0
VALIDPERIOD       6243
COUPON_ID_hash       0
Case                 0
zprice               0
dtype: int64

In [89]:
coupon_list['VALIDPERIOD'] = coupon_list['VALIDPERIOD'].fillna(179)

In [22]:
coupon_list.drop(labels = ['CAPSULE_TEXT'], axis=1, inplace=True )
coupon_list.drop(labels = ['sDPRICE'], axis=1, inplace=True )

In [20]:
# coupon_list.drop(labels = ['CAPSULE_TEXT'], axis=1, inplace=True )
coupon_list.drop(labels = ['GENRE_NAME'], axis=1, inplace=True )
coupon_list.drop(labels = ['CATALOG_PRICE'], axis=1, inplace=True )
coupon_list.drop(labels = ['DISCOUNT_PRICE'], axis=1, inplace=True )
coupon_list.drop(labels = ['DISPFROM'], axis=1, inplace=True )
coupon_list.drop(labels = ['DISPEND'], axis=1, inplace=True )
coupon_list.drop(labels = ['VALIDFROM'], axis=1, inplace=True )
coupon_list.drop(labels = ['VALIDEND'], axis=1, inplace=True )
coupon_list.drop(labels = ['lnDPRICE'], axis=1, inplace=True )
coupon_list.drop(labels = ['mDPRICE'], axis=1, inplace=True )
coupon_list.drop(labels = ['Price'], axis=1, inplace=True )
coupon_list.drop(labels = ['spot_pref'], axis=1, inplace=True )  # 판단이슈 
coupon_list.drop(labels = ['spot_small'], axis=1, inplace=True ) # 판단이슈 
coupon_list.drop(labels = ['spot_large'], axis=1, inplace=True ) # 판단이슈 
# coupon_list.drop(labels = ['large_area_name'], axis=1, inplace=True ) # 판단이슈

ValueError: labels ['GENRE_NAME'] not contained in axis

In [ ]:
coupon_list.columns

In [101]:
ls_dummy = ['Case']

In [102]:
coupon_list = pd.get_dummies(coupon_list, columns = ls_dummy)

In [90]:
# train set과 test set을 다시 분리
coupon_list_train = coupon_list[311:]
coupon_list_test = coupon_list[:310]

# detail

In [94]:
detail_train.head()

,ITEM_COUNT,I_DATE,SMALL_AREA_NAME,PURCHASEID_hash,USER_ID_hash,COUPON_ID_hash
0,1,2012-03-28 15:06:00,Hyogo,c820a8882374a4e472f0984a8825893f,d9dca3cb44bab12ba313eaa681f663eb,34c48f84026e08355dc3bd19b427f09a
1,1,2011-07-04 23:52:00,"GinzaShinbashi,Tokyo,Ueno",1b4eb2435421ede98c8931c42e8220ec,560574a339f1b25e57b0221e486907ed,767673b7a777854a92b73b0934ddfae7
2,1,2011-07-16 00:52:00,"Ebisu,MeguroShinagawa",36b5f9ba46c44b65587d0b16f2e4c77f,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
3,1,2011-07-16 00:54:00,"Ebisu,MeguroShinagawa",2f30f46937cc9004774e576914b2aa1a,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
4,1,2011-07-16 00:55:00,"Ebisu,MeguroShinagawa",4d000c64a55ac573d0ae1a8f03677f50,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2

In [95]:
detail_train = pd.merge(detail_train, coupon_list, how='left', on='COUPON_ID_hash')

In [96]:
# 2. replace hash string ---------------------------------
user_ids = user_list.USER_ID_hash
coupon_train_ids = coupon_list_train.COUPON_ID_hash

# for test coupon, added 1000000 to IDs
coupon_test_ids = coupon_list_test.COUPON_ID_hash
coupon_test_ids.rename(lambda x : x + 1000000, inplace=True)
coupon_ids = pd.concat([coupon_train_ids, coupon_test_ids])

def replace_hash(hashes, hash_id_table):
    replace_table = pd.Series(hash_id_table.index, index=hash_id_table.values)
    return replace_table[hashes].values

# replace hash and drop extra columns
detail = detail_train.copy()
detail["USER_ID"] = replace_hash(detail.USER_ID_hash, user_ids)
detail["COUPON_ID"] = replace_hash(detail.COUPON_ID_hash, coupon_ids)
detail = detail[["USER_ID", "COUPON_ID"]]

In [97]:
detail

        USER_ID  COUPON_ID
0             0    15727.0
1             1      838.0
2             1     1222.0
3             1     1222.0
4             1     1222.0
5             1     1222.0
6             1     1222.0
7             1     4080.0
8             1     6696.0
9             1     8787.0
10            1    10680.0
11            1    14432.0
12            1    15861.0
13            1    15950.0
14            1    13566.0
15            1    15378.0
16            1    18935.0
17            2     2146.0
18            3    12896.0
19            3    15496.0
20            3    17941.0
21            3    18082.0
22            4     1065.0
23            4     2239.0
24            4     2712.0
25            4     3010.0
26            4     3323.0
27            4     7182.0
28            4     7182.0
29            4     7182.0
...         ...        ...
168966    22872     1027.0
168967    22872     1655.0
168968    22872     1545.0
168969    22872     1369.0
168970    22872     2161.0
168971    22872     1982.0
168972    22872     2618.0
168973    22872     2534.0
168974    22872     1270.0
168975    22872     2563.0
168976    22872     6445.0
168977    22872     5489.0
168978    22872     6446.0
168979    22872     6022.0
168980    22872     8287.0
168981    22872     8290.0
168982    22872     8567.0
168983    22872    10240.0
168984    22872    10315.0
168985    22872    11368.0
168986    22872    12373.0
168987    22872    12373.0
168988    22872     5573.0
168989    22872     5573.0
168990    22872    12312.0
168991    22872    13105.0
168992    22872    13138.0
168993    22872    14859.0
168994    22872    14172.0
168995    22872    17660.0

[168996 rows x 2 columns]

In [98]:
len(np.unique(coupon_list_train.COUPON_ID_hash.values))

19412

In [100]:
detail_train.columns

Index(['ITEM_COUNT', 'I_DATE', 'SMALL_AREA_NAME', 'PURCHASEID_hash',
       'USER_ID_hash', 'COUPON_ID_hash', 'PRICE_RATE', 'DISPPERIOD',
       'VALIDPERIOD', 'Case', 'zprice', 'SEX_ID', 'AGE', 'A'],
      dtype='object')

In [103]:
# test 데이터 생성
coupon_list_test['A'] = 1
user_list['A'] = 1
test = pd.merge(coupon_list_test, user_list, how='outer')

In [107]:
test = pd.get_dummies(test, columns = ls_dummy)
test.drop(labels = ['A'], axis=1, inplace=True)

In [111]:
compare_not_test = [i for i in detail_train.columns if i not in test.columns]
compare_not_train = [i for i in test.columns if i not in detail_train.columns]
print('only_train: {}  \n'.format(compare_not_test))
print('only_test: {}'.format(compare_not_train))

only_train: ['Case_BEAUTY', 'Case_EVENT', 'Case_LESSON']

only_test: []

### test 생성

In [58]:
test = coupon_list.filter(detail_train.columns)

In [114]:
train = detail_train.copy()

### B2. train data set 
이후부터

In [115]:
numerical_features = train.select_dtypes(exclude = ["object"]).columns
categorical_features = train.select_dtypes(include = ["object"]).columns

In [116]:
continuous = list(set(numerical_features) - set(categorical_features))

In [117]:
categorical_features

Index(['USER_ID_hash', 'COUPON_ID_hash'], dtype='object')

In [118]:
test.columns

Index(['PRICE_RATE', 'DISPPERIOD', 'VALIDPERIOD', 'COUPON_ID_hash', 'zprice',
       'SEX_ID', 'AGE', 'USER_ID_hash', 'Case_CLASS', 'Case_DELIVERY',
       'Case_FOOD', 'Case_GIFT', 'Case_HAIR', 'Case_HEALTH', 'Case_HOTEL',
       'Case_LEISURE', 'Case_NAIL', 'Case_OTHER', 'Case_RELAXATION',
       'Case_SPA', 'Case_WEB', 'Case_BEAUTY', 'Case_EVENT', 'Case_LESSON'],
      dtype='object')

In [119]:
test2 = test.copy()

In [120]:
test2.drop('USER_ID_hash', inplace=True, axis=1)

In [121]:
test_features = test2

In [125]:
test_features.shape

(7090630, 23)

In [146]:
train_drop_c = train.drop('COUPON_ID_hash', axis=1)
user = train_drop_c.groupby(by='USER_ID_hash').apply(np.mean)

KeyboardInterrupt:

In [149]:
del_ls = ['COUPON_ID_hash','SEX_ID', 'AGE']
train_drop_c = train.drop(del_ls, axis=1)

In [166]:
user.columns

Index(['PRICE_RATE', 'DISPPERIOD', 'VALIDPERIOD', 'zprice', 'Case_BEAUTY',
       'Case_CLASS', 'Case_DELIVERY', 'Case_EVENT', 'Case_FOOD', 'Case_GIFT',
       'Case_HAIR', 'Case_HEALTH', 'Case_HOTEL', 'Case_LEISURE', 'Case_LESSON',
       'Case_NAIL', 'Case_OTHER', 'Case_RELAXATION', 'Case_SPA', 'Case_WEB'],
      dtype='object')

In [161]:
user.drop(['SEX_ID', 'AGE'],1, inplace=True)

In [164]:
coupon_list_test.columns

Index(['PRICE_RATE', 'DISPPERIOD', 'VALIDPERIOD', 'COUPON_ID_hash', 'zprice',
       'Case_CLASS', 'Case_DELIVERY', 'Case_FOOD', 'Case_GIFT', 'Case_HAIR',
       'Case_HEALTH', 'Case_HOTEL', 'Case_LEISURE', 'Case_NAIL', 'Case_OTHER',
       'Case_RELAXATION', 'Case_SPA', 'Case_WEB', 'Case_BEAUTY', 'Case_EVENT',
       'Case_LESSON'],
      dtype='object')

In [156]:
coupon_list_test = pd.get_dummies(coupon_list_test, columns = ls_dummy)
coupon_list_test.drop(labels = ['A'], axis=1, inplace=True)

In [159]:
coupon_list_test['Case_BEAUTY'] = 0
coupon_list_test['Case_EVENT'] = 0 
coupon_list_test['Case_LESSON'] = 0

In [163]:
compare_not_test = [i for i in user.columns if i not in coupon_list_test.columns]
compare_not_train = [i for i in coupon_list_test.columns if i not in user.columns]
print('only_train: {}  \n'.format(compare_not_test))
print('only_test: {}'.format(compare_not_train))

only_train: []

only_test: ['COUPON_ID_hash']

In [130]:
from sklearn.preprocessing import scale, robust_scale, minmax_scale, maxabs_scale

In [131]:
from sklearn.preprocessing import *

In [ ]:
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)

In [167]:
test_features = coupon_list_test
test_features = test_features.drop('COUPON_ID_hash', axis=1)
test_features.columns

Index(['PRICE_RATE', 'DISPPERIOD', 'VALIDPERIOD', 'zprice', 'Case_CLASS',
       'Case_DELIVERY', 'Case_FOOD', 'Case_GIFT', 'Case_HAIR', 'Case_HEALTH',
       'Case_HOTEL', 'Case_LEISURE', 'Case_NAIL', 'Case_OTHER',
       'Case_RELAXATION', 'Case_SPA', 'Case_WEB', 'Case_BEAUTY', 'Case_EVENT',
       'Case_LESSON'],
      dtype='object')

In [168]:
user.shape, test_features.shape

((22782, 20), (310, 20))

In [169]:
user.isnull().sum() , \
test_features.isnull().sum()

(PRICE_RATE         0
 DISPPERIOD         0
 VALIDPERIOD        0
 zprice             0
 Case_BEAUTY        0
 Case_CLASS         0
 Case_DELIVERY      0
 Case_EVENT         0
 Case_FOOD          0
 Case_GIFT          0
 Case_HAIR          0
 Case_HEALTH        0
 Case_HOTEL         0
 Case_LEISURE       0
 Case_LESSON        0
 Case_NAIL          0
 Case_OTHER         0
 Case_RELAXATION    0
 Case_SPA           0
 Case_WEB           0
 dtype: int64, PRICE_RATE         0
 DISPPERIOD         0
 VALIDPERIOD        0
 zprice             0
 Case_CLASS         0
 Case_DELIVERY      0
 Case_FOOD          0
 Case_GIFT          0
 Case_HAIR          0
 Case_HEALTH        0
 Case_HOTEL         0
 Case_LEISURE       0
 Case_NAIL          0
 Case_OTHER         0
 Case_RELAXATION    0
 Case_SPA           0
 Case_WEB           0
 Case_BEAUTY        0
 Case_EVENT         0
 Case_LESSON        0
 dtype: int64)

In [ ]:
# vector_1.drop(labels = ['distance'], axis=1, inplace=True)
# vector_1.drop(labels = ['VALIDPERIOD'], axis=1, inplace=True)
# vector_2.drop(labels = ['distance'], axis=1, inplace=True)
# vector_2.drop(labels = ['VALIDPERIOD'], axis=1, inplace=True)
vector_1.drop(labels=['Case_EVENT', 'Case_BEAUTY', 'Case_LESSON'],axis=1, inplace=True )

In [170]:
vector_1 = user.copy()
vector_2 = test_features.copy()

vector_1 = scale(vector_1)
vector_1 = pd.DataFrame(data = vector_1, index = user.index, columns = user.columns )

vector_2 = scale(vector_2)
vector_2 = pd.DataFrame(data = vector_2, index = test_features.index, columns = test_features.columns )

In [136]:
import math

def Cosine(vec1, vec2) :
    result = InnerProduct(vec1,vec2) / (VectorSize(vec1) * VectorSize(vec2))
    return result

def VectorSize(vec) :
    return math.sqrt(sum(math.pow(v,2) for v in vec))

def InnerProduct(vec1, vec2) :
    return sum(v1*v2 for v1,v2 in zip(vec1,vec2))

def Euclidean(vec1, vec2) :
    return math.sqrt(sum(math.pow((v1-v2),2) for v1,v2 in zip(vec1, vec2)))

def Theta(vec1, vec2) :
    return math.acos(Cosine(vec1,vec2)) + 10

def Triangle(vec1, vec2) :
    theta = math.radians(Theta(vec1,vec2))
    return (VectorSize(vec1) * VectorSize(vec2) * math.sin(theta)) / 2

def Magnitude_Difference(vec1, vec2) :
    return abs(VectorSize(vec1) - VectorSize(vec2))

def Sector(vec1, vec2) :
    ED = Euclidean(vec1, vec2)
    MD = Magnitude_Difference(vec1, vec2)
    theta = Theta(vec1, vec2)
    return math.pi * math.pow((ED+MD),2) * theta/360

def TS_SS(vec1, vec2) :
    return Triangle(vec1, vec2) * Sector(vec1, vec2)

vec1 = [1,2]
vec2 = [2,4]

print(Euclidean(vec1,vec2))
print(Cosine(vec1,vec2))
print(TS_SS(vec1,vec2))

2.23606797749979
0.9999999999999998
1.5153662265423102

In [173]:
vector_2.shape

(310, 20)

In [174]:
from scipy import spatial
def cosine_similarity(vector_1, vector_2):

    return 1 - spatial.distance.cosine(vector_1, vector_2)

In [171]:
!pip install tqdm

Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages

In [180]:
from tqdm import tqdm

In [181]:
matrix = []
for idx1 in tqdm(range(len(user))):
    
    row = []
    for idx2 in range(len(test_features)):
        row.append(cosine_similarity(vector_1.iloc[idx1], vector_2.iloc[idx2]))
    matrix.append(row)

100%|██████████| 22782/22782 [41:42<00:00,  9.11it/s]

In [ ]:
continuous = list(set(vector_1) - set(vector_2))
continuous

In [ ]:
coupons_ids = test['COUPON_ID_hash']
result_index = vector_1.index
result_columns = [coupons_ids[i] for i in range(0, 310)]
result_df = pd.DataFrame(index= result_index, columns=result_columns,
                      data=matrix)

In [ ]:
submission = pd.DataFrame(columns=['USER_ID_hash','PURCHASED_COUPONS'])
submission['USER_ID_hash'] = result_df.index
submission['PURCHASED_COUPONS'] = result_df.T.apply(lambda x: " ".join(x.sort_values(ascending=False)[:21].index)).values

In [ ]:
submission.to_csv('submission/cosine.csv',index = False,header=True)